/* Reset CSS
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	text-decoration: none;
	color: white;
}
/* Stylizacja strony */
body {
	background-color: #414141;
	font-size: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
	margin: 0px !important;
}
/* Stylizacja tekstu */
h1 {
	font-size: 48px;
	letter-spacing: 3px;
	font-weight: 900;
}
h3 {
	font-size: 32px;
	letter-spacing: 2px;
}
/* Stylizacja linków a:(link/visited/hover)*/
.logowanieL {
	text-decoration: none;
	color: black;
	font-weight: 900;
}
/* Stylizacja tabeli */
table {
	border: 1px;
	border-color: white;
}
/* Stylizacja div'ów */
.wrapper {
	width: 100%;
	min-height: 100%;
}
.header {
	width: 100%;
	padding-bottom: 30px;
}
.logo {
	padding-top: 20px;
	text-align: center;
	float: left;
	font-size: 52px;
	letter-spacing: 3px;
	font-weight: 900;
	padding-left: 10px;
}
#timer {
	padding-top: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 100;
}
.logowanie {
	text-align: center;
	float: right;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	background-color: #c34f4f;
	border-bottom: 1px solid #751b1b;
	border-left: 1px solid #751b1b;
}
.nav {
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}
.navP {
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}
.content {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	text-align: justify;
}
.socials {
	width: 100%;
	text-align: center;
	background-color: #323232;
}
.socialdivs {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.fb {
	width: 250px;
	height: 155px;
	float: left;
}
.fb:hover {
	background-color: #236B8E;
	cursor: pointer;
}
.fb a {
	color: white;
}
.yt {
	width: 250px;
	height: 155px;
	float: left;
}
.yt:hover {
	background-color: #ff3333;
	cursor: pointer;
}
.yt a {
	color: white;
}
.tw {
	width: 250px;
	height: 155px;
	float: left;
}
.tw:hover {
	background-color: #7093DB;
	cursor: pointer;
}
.tw a {
	color: white;
}
.gp {
	width: 250px;
	height: 155px;
	float: left;
}
.gp:hover {
	background-color: #cc3300;
	cursor: pointer;
}
.gp a {
	color: white;
}
.footer {
	font-size: 14px;
	text-align: center;
	background-color: #191919;
	padding: 10px;
}
.sticky {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
/* Stylizacja menu */
.menuOL {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
.menuOL a {
	color: #ffffff;
	text-decoration: none;
	display: block;
}
.menuOL > li {
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #8C1717;
	background-color: #c34f4f;
}
.menuOL > li:first-child {
	border-left: 1px dashed #8C1717;
}
.menuOL > li:hover {
	background-color: #cf6969;
	cursor: pointer;
}
.menuOL > li:hover > a {
	color: #451717;
}
.menuOL > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
.menuOL > li:hover > ul {
	display: block;
}
.menuOL > li > ul > li {
	background-color: #cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}
.menuOL > li > ul > li:hover {
	background-color: #c34f4f;
}
.menuOL > li > ul > li:hover > a {
	color: #454517;
}
/* Stylizacja menu na telefon */
.menuOLP {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}
.menuOLP a {
	color: #ffffff;
	text-decoration: none;
	display: block;
}
.menuOLP > li {
	float: left;
	width: 70px;
	height: 40px;
	border-right: 1px dashed #8C1717;
	background-color: #c34f4f;
}
.menuOLP > li:first-child {
	border-left: 1px dashed #8C1717;
}
.menuOLP > li:hover {
	background-color: #cf6969;
	cursor: pointer;
}
.menuOLP > li:hover > a {
	color: #451717;
}
.menuOLP > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
.menuOLP > li:hover > ul {
	display: block;
}
.menuOLP > li > ul > li {
	background-color: #cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}
.menuOLP > li > ul > li:hover {
	background-color: #c34f4f;
}
.menuOLP > li > ul > li:hover > a {
	color: #454517;
}
@media screen and (max-width: 960px) 
{
	.nav { display: none }
	.content { width: 95% }
}
@media screen and (min-width: 961px) 
{
	.navP { display: none }
}